<h1>{{product.uuid == null ? 'Crear' : 'Editar'}} Producto - {{product.uuid}}</h1>

<form>
  <label for="name">Nombre</label>
  <input type="text" class="form-control" id="name" placeholder="Nombre Producto" [(ngModel)]="product.name" name="name">

  <label for="description">Descripcion</label>
  <input type="text" class="form-control" id="description" placeholder="Descripcion" [(ngModel)]="product.description" name="description">

  <label for="sku">Sku</label>
  <input type="text" class="form-control" id="sku" placeholder="sku" name="sku" [(ngModel)]="product.sku">

  <label for="price">Precio</label>
  <input type="text" class="form-control" id="price" placeholder="precio" name="precio" [(ngModel)]="product.price"><br>
  <label for="productType">tipo Producto</label> <br>

  <select name="selectType"  [(ngModel)]="product.productType">
    <option value="" selected>Seleccione</option>
    <option value="0">Simple</option>
    <option value="1">Descuento</option>
  </select><br><br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL"><br><br>
  <button type="button" class="btn btn-success" (click)="saveProduct()">Guardar Produto</button>
</form>